.App-header {
    margin: 30px 0;
}


.App-logo {

    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.footer {
  margin: 200px auto;
  width: 75%;
  color: #2c423f;
  text-align: center;
  margin-bottom: 100px;
}
.footer-link {
  color: rgba(245, 141, 8, 0.8)
}
.footer-link:hover {
  color: rgba(245, 141, 8, 1)
}